.layout-20-80 {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 40px;
  display: flex;
  gap: 30px;
}

.col-20 {
  flex: 0 0 20%;
}

.col-80 {
  flex: 0 0 80%;
}

/* Responsive */
@media (max-width: 800px) {
  .layout-20-80 {
    flex-direction: column;
  }

  .col-20,
  .col-80 {
    flex: 1 1 100%;
  }
}
