.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  padding: 20px;
}

.modal-content {
  background: white;
  border-radius: 10px;
  width: 600px;
  height: 600px;
  display: flex;
  flex-direction: row;
  position: relative;
  overflow: hidden;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

.modal-close {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 18px;
  cursor: pointer;
  background: none;
  border: none;
}

.modal-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.modal-img {
  width: 40%;
  height: 100%;
  object-fit: cover;
}

.modal-body h2 {
  font-size: 16px;
  margin: 0 0 15px 0;
}

.modal-body p {
  flex-grow: 1;
  margin-bottom: 20px;
  line-height: 1.5;
}

.modal-checkboxes {
  display: flex;
  gap: 8px;
  margin: 15px 0;
}

.modal-checkboxes label {
  font-size: 16px;
  gap: 8px;
  cursor: pointer;
}

.modal-checkboxes input[type="checkbox"] {
  margin-right: 8px;
  transform: scale(1.2);
  cursor: pointer;
}

.modal-comentarios ul {
  list-style: none;
  padding: 0;
  max-height: 150px;
  overflow-y: auto;
  margin: 10px;
}

.modal-comentarios li {
  border-bottom: 1px solid #eee;
  padding: 5px 0;
}

.modal-comentarios input {
  width: calc(100% - 100px);
  padding: 8px;
  margin-right: 10px;
}

.modal-comentarios button {
  background: #a0a8d5;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  padding: 8px 16px;
  cursor: pointer;
}

/* Responsive */
@media (max-width: 1200px) {
  .modal-content {
    width: 95%;
    height: auto;
  }
  .modal-horizontal {
    flex-direction: column;
  }
  .modal-img {
    width: 100%;
    height: 300px;
  }
  .modal-body {
    width: 100%;
    padding: 20px;
  }
}

@media (max-width: 768px) {
  .modal-botones button {
    width: 100%;
    margin-bottom: 10px;
  }
  .modal-comentarios input {
    width: 100%;
    margin-bottom: 10px;
  }
}
