.genfav-container {
  background: #ffffff;
  border-radius: 16px;
  padding: 32px;
  max-width: 1320px;
  margin: 42px auto 24px auto;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
}

.genfav-container h1 {
  text-align: left;
  margin-bottom: 24px;
}

/* GRID 2 columnas */
.genfav-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

/* Botones */
.genfav-btn {
  padding: 14px 16px;
  border-radius: 8px;
  border: 1px solid #ef3e36;
  background: #f7b3c2;
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #ef3e36;
  cursor: pointer;
  transition: 0.2s;
}

.genfav-btn:hover {
  background: #ffffff;
}

.search-more {
  margin-top: 24px;
  padding: 16px 24px;
  border: none;
  border-radius: 8px;
  background: #a0a8d5;
  color: white;
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
}

.search-more:hover {
  opacity: 0.8;
}
