body {
  font-family: "Poppins", Arial, sans-serif;
  background-color: #a0a8d5;
  color: #333;
  margin: 10px;
  padding: 0;
  line-height: 1.6;
  scroll-behavior: smooth;
}

/* Responsive: en mobile se apila */
@media (max-width: 600px) {
  .header {
    flex-direction: column;
    text-align: center;
  }
  .rol p {
    text-align: center;
  }
}
